*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
}

.main{
    display: flex;
}

.title{
    text-align: center;
    margin-bottom: 100px;
}
.title h1{
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    font-weight: 500;
    color: #111111;
    text-transform: capitalize;
}
.title p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
   color: #444;
    width: 600px;
    margin: 0 auto;
}

/* ======= common css ========*/


/* ============= nav start ============== */
nav{
    
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    border: 1px solid #4e4219;
}
ul li{
    margin-left: 10px;
}

ul li a{
    color: #fff !important;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    position: relative;
}
ul li a:after{
    width: 0;
    height: 3px;
    background: #fec600;
    position: absolute;
    bottom: -20px;
    left: 0;
    content: "";
    transition: .4s;
}
ul li a:hover{
    color: #fec600 !important;
}
ul li a:hover:after{
    width: 100%;
}

/* ============= nav end ============== */

/* ============= banner start ============== */

#banner-part .carousel-item{
    position: relative;
}

#banner-part .overlay{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    left: 0;
}
#banner-part .overlay .details{
    text-align: center;
    margin-top: 150px;
}
#banner-part .overlay .details h3{
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 500;
    color: #fff;
    
}
#banner-part .overlay .details h1{
    font-family: 'Raleway', sans-serif;
    font-size: 55px;
    font-weight: 800;
    color: #fec600;
    text-transform: uppercase;
}

#banner-part .overlay .details p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    width: 550px;
    color: #fff;
    margin: 0 auto;
}
#banner-part .overlay .details a{
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    border: 1px solid #fff;
    margin: 15px 15px;
    transition: .4s;
}
#banner-part .overlay .details a:hover{
    background: #fec600;
    color: #000;
}
#banner-part button{
    opacity: 1;
}
#banner-part button i{
    font-size: 40px;
    color: #fff ;
    transition: .4s;
}

#banner-part button i:hover{
    color: #fec600;
}
/* ============= banner end ============== */



/* ============= banner shape start ============== */
#banner-shape{
    background: #fff;
    height: 156px;
    position: relative;
    top: -150px;
    transform: skew(-86deg);
    transform-origin: left bottom;
}

/* ============= banner shape end ============== */


/* ============= about start ============== */
#about-part{
 margin-bottom: 50px;
}

#about-part .item{
    background: #eeeeee;
    padding: 30px 10px;
    text-align: center;
    position: relative;
    transition: .4s;
}
#about-part .item h3{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    text-transform: uppercase;
}
#about-part .item p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #444;
    width: 300px;
   margin: 0 auto;
}
#about-part .item .shape{
    width: 20px;
    height: 20px;
    background: #eeeeee;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%) rotate(45deg);
}

#about-part .item  i {
    position: absolute;
    bottom: -38px;
    left: 50%;
    transform: translateX(-50%);
    transition: .4s;
}

#about-part .item-bottom{
    background: #eeeeee;
    padding: 30px 10px;
    text-align: center;
    position: relative;
    transition: .4s;
}
#about-part .item-bottom h3{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    text-transform: uppercase;
}

#about-part .item-bottom p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #444;
   width: 300px;
   margin: 0 auto;
}
#about-part .item-bottom .shape{
    width: 20px;
    height: 20px;
    background: #eeeeee;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%,50%) rotate(45deg);
}

#about-part .item-bottom  i {
    position: absolute;
    top: -38px;
    left: 50%;
    transform: translateX(-50%);
    transition: .4s;
}

#about-part .item-left{
    background: #eeeeee;
    position: relative;
    top: 100px;
    left: 0;
    padding: 40px 20px;
    transition: .4s;
}
#about-part .item-left h3{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-align: right;
    text-transform: uppercase;
}

#about-part .item-left p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #444;
   width: 310px;
  margin: 0 auto;
}
#about-part .item-left .shape{
    width: 20px;
    height: 20px;
    background: #eeeeee;
    position: absolute;
    top: 45%;
    left: 356px;
    transform: translate(-50%,50%) rotate(45deg);
}
#about-part .item-left  i {
    position: absolute;
    top: 50%;
    right: -50px;
    transform: translateX(-50%);
    transition: .4s;
}

#about-part .item-right{
    background: #eeeeee;
    position: relative;
    top: 100px;
    left: 0;
    padding: 40px 20px;
    transition: .4s;
}
#about-part .item-right h3{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
}
#about-part .item-right p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #444;
   width: 310px;
  margin: 0 auto;
}
#about-part .item-right .shape{
    width: 20px;
    height: 20px;
    background: #eeeeee;
    position: absolute;
    top: 45%;
    left: 0;
    transform: translate(-50%,50%) rotate(45deg);
}
#about-part .item-right  i {
    position: absolute;
    top: 50%;
    left: -34px;
    transform: translateX(-50%);
    transition: .4s;
}

#about-part  .round1{
    width: 340px;
    height: 340px;
    border-radius: 50%;
    border: 1px solid #000;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
#about-part .round1 .box{
    width: 300px;
    height: 300px;
    border-radius: 50%;
   overflow: hidden;
   position: relative;
}
#about-part .round1 .box img{
   position: absolute;
   top: 0;
   left: -125px;
   position: relative;
}
#about-part .round1 .box .overlay{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    left: 0;
    
}
#about-part .item:hover i{
    color: #fec600;
} 
#about-part .item:hover{
    filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0.7));
}
#about-part .item-bottom:hover i{
    color: #fec600;
} 
#about-part .item-bottom:hover{
    filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0.7));
}
#about-part .item-left:hover i{
    color: #fec600;
} 
#about-part .item-left:hover{
    filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0.7));
}
#about-part .item-right:hover i{
    color: #fec600;
} 
#about-part .item-right:hover{
    filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0.7));
}
/* ============= about end ============== */



/* ============= portfolio start ============== */

#portfolio-part{
    background: url(../images/port-bg.png) no-repeat center;
    background-size: cover;
    height: 1000px;
}
#portfolio-part .overlay{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    padding: 30px 0;
}

#portfolio-part .overlay .title-1{
   padding-top: 50px;
    text-align: center;
}
#portfolio-part .overlay .title-1 h1{
    margin-top: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    font-weight: 500;
    color: #fff;
    text-transform: capitalize;
}
#portfolio-part .overlay .title-1 p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    width: 600px;
    margin: 0 auto;
}

#portfolio-part .overlay .img{
    margin: 15px 0;
    position: relative;
}
#portfolio-part .overlay .img img{
    width: 100%;
}
#portfolio-part .overlay .img .img-overlay{
    width: 100%;
    height: 0;
    background: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    left: 0;
    transition: .4s;
    opacity: 0;
}
#portfolio-part .overlay .img:hover .img-overlay{
    height: 100%;
    opacity: 1;
}

#portfolio-part .overlay .img .img-overlay i{
    font-size: 30px;
    color: #fff;
    padding: 50% ;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}
#portfolio-part .overlay .img .img-overlay{
    transform: scale(.9);
}
/* ============= portfolio end ============== */

/* ============= portfolio shape start ============== */
#portfolio-shape{
    background: #fff;
    height: 150px;
    position: relative;
    bottom: -150px;
    transform: skew(-86deg);
    transform-origin: right top;
}

/* ============= portfolio shape end ============== */

/* ============= service start ============== */
#service-part {
    margin-bottom: 100px;
    position: relative;

}
#service-part .line{
    background: url(../images/line.png) ;
    width: 1px;
    height: 730px;
    position: absolute;
    top: 195px;
    left: 50%;
    transform: translateX(-50%);
  
}


#service-part  .service{
    width: 100%;
    margin: 10px 0;
}
#service-part  .service .main{
    display: flex;
    justify-content: space-between  ;
}
#service-part  .service:nth-child(odd) .main{
    flex-direction: row-reverse;
}
#service-part  .service .left{
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#service-part .service:nth-child(odd) .left{
    justify-content: flex-start;
}
#service-part  .service .left h2{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}
#service-part  .service .left .shape{
    width: 30px;
    height: 30px;
    background: #f1f1f1;
    position: absolute;
    top: 45%;
    right: 415px;
    border-radius: 5px;
    transform: translate(-50%,50%) rotate(45deg);
}
#service-part  .service .middle{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#service-part  .service .middle .round{
    width: 70px;
    height: 70px;
    background: #f3f3f3;
    border-radius: 50%;
    transition: .4s;
}
#service-part  .service .middle .round .icon{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:20px 0 ;
}
#service-part  .service .right{
    width: 40%;
    height: 200px;
    background: #f1f1f1;
    padding: 40px 30px;
    position: relative;
    transition: .4s;
}
#service-part  .service .right p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
}
#service-part  .slick-center .right{
    filter: drop-shadow(0 0 0.25rem rgba(0,0,0.7));
}
#service-part  .service .right .shape{
    width: 30px;
    height: 30px;
    background: #f1f1f1;
    position: absolute;
    top: 40%;
    right: -29px;
    border-radius: 5px;
    transform: translate(-50%,50%) rotate(45deg);
}
#service-part  .service .right .shape-r{
    width: 30px;
    height: 30px;
    background: #f1f1f1;
    position: absolute;
    top: 40%;
    left: 0;
    border-radius: 5px;
    transform: translate(-50%,50%) rotate(45deg);
}
#service-part  .slick-center .middle .round{
    background: #fec600;
}
#service-part  .prev{
    width: 40px;
    height: 40px;
   border: 1px solid #000;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 539px;
    text-align: center;
    line-height: 40px;
}
#service-part  .next{
    width: 40px;
    height: 40px;
    border-radius: 50%;
  border: 1px solid #000;
    position: absolute;
    bottom: -115px;
    left: 539px;
    text-align: center;
    line-height: 40px;
    transition: .4s;
}
#service-part  .next:hover{
    background: #fec600;
    border: transparent;
}
#service-part  .prev:hover{
    background: #fec600;
    border: transparent;
}
/* ============= service end ============== */


/* ============= pricing start ============== */
#pricing-part{
    margin-top: 200px;
   
}
#pricing-part .item{
    width: 100%;
   
}
#pricing-part .item .up{
    width: 100%;
    height: 150px;
    background: #444444;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
    transition: .4s;
  
}
#pricing-part .item .up h1{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding-top: 30px;
}
#pricing-part .item .middle{
    width: 100%;
    height: 250px;
    position: relative;
}
#pricing-part .item .middle .round{
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: -60px;
    left: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
}
#pricing-part .item .middle .round .box{
    width: 90px;
    height: 90px;
    background: #444444;
    border-radius: 50%;
    transition: .4s;
}
#pricing-part .item .middle .round .box h3{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-top: 10px;
    font-size: 29px;
    font-weight: 500;
    color: #fff;
    transition: .4s;
}
#pricing-part .item .middle .round .box h4{
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    color: #fff;
    text-align: center;
    transition: .4s;
}
#pricing-part .item .middle .details  {
    padding-top: 40px;
    margin-left: -20px;
}

#pricing-part .item .middle .details ul li{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
   padding: 10px 0;
   text-align: center;
}
#pricing-part .item .down{
    width: 100%;
    height: 100px;
    background: #444444;
    clip-path: polygon(0 41%, 100% 0, 100% 100%, 0% 100%);
    transition: .4s;
}
#pricing-part .item .down h2{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    padding-top: 45px;
    transition: .4s;
}
#pricing-part .item:hover .up{
    background: #fec600;
    
}
#pricing-part .item:hover .middle .round{
    border-color: #fec600;
}
#pricing-part .item:hover .middle .round .box {
    background: #fec600;
    color: #111111;
}
#pricing-part .item:hover .middle .round .box h3{
    color: #111111;
}
#pricing-part .item:hover .middle .round .box h4{
    color: #111111;
}
#pricing-part .item:hover .down {
    background: #fec600;
}
#pricing-part .item:hover .down h2{
    color: #111111;
}
#pricing-part .item:hover .up h1{
    color: #111111;
}
/* ============= pricing end ============== */


/* ============= counter shape start ============== */
#counter-shape{
    background: #fff;
    height: 155px;
    position: relative;
    bottom: -150px;
    transform: skew(-86deg);
    transform-origin: right top;
    z-index: 1;
}
/* ============= counter  shape end ============== */
/* ============= counter start ============== */
#counter-part{
    background: url(../images/counter-img.png) no-repeat top;
    background-size: cover;
 height: 300px;
}
#counter-part .angel{
    transform: rotate(-5deg);
}
#counter-part .overlay{
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0,0.7);
    padding: 30px ;
}
#counter-part  .item{
    margin-top: 60px;
    width: 100%;
    border: 1px solid #fff;
}
#counter-part  .item h1{
    font-family: 'Raleway', sans-serif;
    transform: rotate(5deg);
    text-align: center;
    color: #fff;
}
#counter-part  .item p{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-transform: capitalize;
    transform: rotate(4deg);
    text-align: center;
    color: #fff;
}
/* ============= counter end ============== */

/* ============= counter shape start ============== */
#counterup-shape{
    background: #fff;
    height: 160px;
    position: relative;
    bottom: 155px;
    transform: skew(-86deg);
    transform-origin: left bottom;
    
}
/* ============= counter  shape end ============== */



/* ============= team start ============== */

#team-part .item{
    width: 100%;
   transition: .4s;
}
#team-part .item .up{
    width: 100%;
    height: 270px;
    background: #eeeeee;
    clip-path: polygon(0 0, 100% 0, 100% 73%, 0% 100%);
}
#team-part .item .up .img{
    padding-top: 20px;
    text-align: center;
    position: relative;
}
#team-part .item .up .img .overlay {
    width: 100%;
    height: 100%;
    background: #fec600;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .4s;
}
#team-part .item .up .img .overlay i{
    font-size: 30px;
    color: #000;
    margin-top: 100px;
    border-radius: 50%;
    background: #fff;
    padding: 10px 10px;
}
#team-part .item .down{
    width: 100%;
    height: 130px;
}
#team-part .item .down h2{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}
#team-part .item .down p{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}
#team-part .item .down .icon{
    text-align: center;
   opacity: 0;
   transition: .4s;
}
#team-part .item .down .icon i{
    padding: 10px 10px;
    border: 1px solid #000;
    border-radius: 50%;
    margin-left: 10px;
   
    transition: .4s;
}
#team-part .item:hover .down .icon{
    opacity: 1;
}
#team-part .item .down .icon i:hover{
    background: #fec600;
}
#team-part .item:hover .up .img .overlay{
    opacity: .7;
}
#team-part .item:hover{
   margin-top: 20px;
    border: 1px solid #c7c2c2;
}
/* ============= team end ============== */

/* ============= partner start ==============  */
#partner-part{
    margin-top: 100px;
    background: #eeeeee;
   padding: 70px 0;
   -webkit-clip-path: polygon(0 25%, 100% 0%, 100% 75%, 0% 100%);
    clip-path: polygon(0 25%, 100% 0%, 100% 75%, 0% 100%);
}
#partner-part .item{
    border: 1px solid #c7c2c2;
    padding: 50px 20px;
    margin: 0 30px;
    transition: .4s;
}
#partner-part .rotate{
    transform: rotate(-5deg);
}
#partner-part .item:hover{
    border: 1px solid #fec600;
}
/* ============= partner end ============== */

/* ============= fotter start ============== */
#fotter-part{
    height: 650px;
    width: 100%;
    background: #222222;
    margin-top: -68px;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
}
#fotter-part .logo{
    text-align: center;
    border-bottom: 1px solid #4e4219;
    padding: 60px 0;
   
}

#fotter-part .item{
    width: 100%;
    margin-top: 100px;
    position: relative
}
#fotter-part .item:after{
    width: 1px;
    height: 100px;
    background: #555555;
    position: absolute;
    top: 30px;
    right: 0;
    content: "";
}
#fotter-part .item-r{
    width: 100%;
    margin-top: 100px;
    position: relative
}
#fotter-part .item .icon{
    padding-top: 20px;
    text-align: center;
    color: #222;
   
}
#fotter-part .item .icon i{
    border: 1px solid #222;
    border-radius:50% ;
    background: #fec600;
    padding: 10px 10px;
}
#fotter-part .item p{
    margin:20px 6px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}
#fotter-part .item-r .icon{
    padding-top: 20px;
    text-align: center;
    color: #222;
   
}
#fotter-part .item-r .icon i{
    border: 1px solid #222;
    border-radius:50% ;
    background: #fec600;
    padding: 10px 10px;
}
#fotter-part .item-r p{
    margin:20px 6px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}
#fotter-part .follow{
    color: #fff;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;
}
#fotter-part .icon-down{
    color: #222;
    text-align: center;
    padding: 20px;
}
#fotter-part .icon-down i{
    margin-left: 30px;
    border: 1px solid #222;
    border-radius:50% ;
    background: #fff;
    padding: 8px 10px;
    transition: .4s;
}
#fotter-part .icon-down i:hover{
    background: #fec600;
}
/* ============= fotter end ============== */


/* ============= copy start ============== */
#copy-part{
    width: 100%;
    height: 50px;
    background: #444444;
   
}
#copy-part h3{
    color: #fff;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 500;
    padding: 15px ;
}
#copy-part span{
    color: #fec600;
}
/* ============= copy end ============== */


